@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #ffffff;
    background-color: #fce3ff;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section {
    max-width: 650px;
    width: 90%;
    margin: 60px auto;
    padding: 40px;
    background: #2f0e308e;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    color: #2f0547;
    margin-top: 40px;
    border-top: 2px solid #cecece;
}

#menu-horizontal ul {
    list-style: none;
    padding: 15px 60px;
    background: #2f0547;
    margin: 0;
    gap: 20px 30px;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

#menu-horizontal li {
    color: #ffffff;
    align-items: center;
    gap: 8px;
    margin-right: 40px;
    padding: 20px 25px;
    display: flex;
    font-size: 20px;
    letter-spacing: 0.5px;
}

#menu-horizontal ul li.sociedade {
    margin-left: auto;
}

#menu-horizontal ul li.sociedade a {
    background: none;
    border: none;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    max-width: 480px;
    height: 40px;
    padding: 8px;
    border: 1px solid #976cbd;
    border-radius: 6px;
    background: #211428;
    color: white;
    margin-bottom: 25px;
}

button {
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 6px;
    background: #1e022e;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}

button:hover {
    background: #511e6e;
    transform: scale(1.05);
}

.caixa {
    display: flex;
    max-width: 550px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.cbotoes {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
    background: #6a5a6c00;
    padding: 15px;
    border-radius: 8px;
}

#tituloprincipal {
    color: #fffefe;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
}